```gitignore
# Ignore build artifacts and temp files
*.o
*.a
*.so
*.out
*.log
*~
*.swp
*.dSYM/
bak/
nogit/
testdata/
pp.cache
ppdb.json
paperpusher
.cache
.error.log
compile_commands.json
.clang-tidy
# Ignore build dirs
build/
# Ignore OS stuff
.DS_Store
todo
